@model projetoPSI.Models.Receita

@{ ViewData["Title"] = "Create"; }
<div class="container">
    <br /><br /><br /><br />
    <h1>Administrar Receita</h1>

    <h4>Receita</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label  class="control-label">Preço</label>
                    <input name="Preco" class="form-control" id="prec" value="0" type="text" readonly/>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceitaData" class="control-label">Data da Receita</label>
                    <input asp-for="ReceitaData" class="form-control" />
                    <span asp-validation-for="ReceitaData" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="UtenteIDFK" class="control-label">Utente</label>
                    <select asp-for="UtenteIDFK" class="form-control" asp-items="ViewBag.Utente"></select>
                    <span asp-validation-for="UtenteIDFK" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <br />
                <h3>Medicamentos</h3>
                <div class="form-group" id="medi">

                </div>
                <input id="medicamentos" type="hidden" name="medicamentos" value="" />
                <script>

                    adicionaMed = (id_med, prec) => {
                        document.getElementById("medicamentos").value += id_med + " ";
                        document.getElementById("prec").value = (parseFloat(document.getElementById("prec").value) + parseFloat(prec)) + "";
                    }


                    var medicamentos = @Html.Raw(Json.Serialize(@ViewBag.Medicamento));
                    var medsS = ""
                    for (var i = 0; i < medicamentos.length; i++) {
                        medsS += '<input type="checkbox" onClick = "(adicionaMed(' + medicamentos[i].medicId + ',' + medicamentos[i].preco + '))" class="btn btn - primary" />' + "        " + medicamentos[i].nome + "       " + medicamentos[i].preco + ' €<br/>';
                    }
                    document.getElementById("medi").innerHTML = medsS;
                </script>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>