@model projetoPSI.Models.Receita

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <br /><br /><br /><br />
    <h1>Edit</h1>

    <h4>Receita</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReceitaId" />
                <div class="form-group">
                    <label asp-for="Preco" class="control-label"></label>
                    <input asp-for="Preco" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceitaData" class="control-label"></label>
                    <input asp-for="ReceitaData" class="form-control" />
                    <span asp-validation-for="ReceitaData" class="text-danger"></span>
                </div>
             
             
                <div class="form-group">
                    <label asp-for="UtenteIDFK" class="control-label"></label>
                    <input asp-for="UtenteIDFK" class="form-control" />
                    <span asp-validation-for="UtenteIDFK" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>