@model IEnumerable<parafarmacia.Models.Products>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Produtos</h1>

@{
    if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}

<section class="featured spad" style="padding-top:0px; padding-bottom:0px;">
    <div class="container row">
        <div class="col-lg-3" style="padding-left:0px;">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>Categories</span>
                </div>
                <ul style=" background-color: white; width: 100%;">
                    @foreach (var item in ViewBag.categories)
                    {
                        <li>
                            <form class="form-inline" asp-controller="Products" asp-action="ByCategory" method="post">
                                <input type="hidden" name="Id" value=@item.Id>
                                <button type="submit" style=" background: none !important; border: none;"><h5>@item.Name</h5></button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row featured__filter col-lg-9">
            @foreach (var item in Model.ToList())
            {
                <div class="col-lg-4 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/img/products/@item.Image">
                            <ul class="featured__item__pic__hover">
                                <li>
                                    <form class="form-inline quickProductBuy" asp-controller="ProductCart" asp-action="Create" method="post">
                                        <input type="hidden" id="Quantity" name="Quantity" value="1">
                                        <input type="hidden" id="ProductFK" name="ProductFK" value=@(item.Id)>
                                        <button type="submit">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>1</span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <a href="/Products/Details/@item.Id"><h6>@(item.Name)</h6></a>
                            <h5>@(item.Price) €</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>