@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>
</h1>
<div>
    <p>Aplicação Web desenvolvida por:</p>
    <p>Gabriel Bonet nº21373 </p>
    <p>Hernâni Diniz nº18891 </p>
    <p>João Correia nº21302 </p>
    <p>João Batista nº21079 </p>
    <p>André D'Sá nº00000 </p>



    <p>
        A Parafarmácia trata-se de uma aplicação web que serve para gerir um conjunto de produtos de beleza e medicamentos sem prescrição.
        Também serve como loja para compra dos mesmos produtos.<br />
        Temos presentes dois cargos, Admin e User. <br />
        Com o cargo de Admin, é possível gerir o site de modo a adicionar produtos e categoria, assim como alterar
        o role de users para Admin.<br />
        O User pode apenas ver os produtos atuais adicioná-los ao carrinho e por sua vez "comprar", simulando uma encomenda.


    </p>
    <br />
    <p>Frameworks:</p>
    <ul>
        <li>
            ASP NET CORE 3.1
        </li>
        <li>
            Entity Framework
        </li>
    </ul>

    <br />
    <p>Dados de acesso na seed:</p>
    <ul>
        <li>
            Admin
            <ul>
                <li>Email: admin@admin</li>
                <li>Password: admin</li>
            </ul>
        </li>
    </ul>
    <br />
    <br />
    <p>GitHub:</p>
    <ul>
        <li>
            <a href="https://github.com/iptomar/psi_2022_para_farmacias.git">
                https://github.com/iptomar/psi_2022_para_farmacias.git
            </a>
        </li>
    </ul>
</div>
