@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo/a!</h1>
    <h3>Projeto de PSI 2021/2022</h3>
    <h3>Aluno: (21296) André Sá</h3>
    <h3>Email: aluno21296@ipt.pt</h3>
</div>
