@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var nome = UserManager.GetUserAsync(User).Result.Nome;

    <div style="display: flex; max-width: fit-content;">
        <span style="margin-right:10px">@(nome)</span>
        <a href="#"><i class="fa fa-user"></i></a>
    </div>
    <ul class="header__menu__dropdown">
        <li>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <a href="#"><i class="fa fa-user"></i></a>
    <ul class="header__menu__dropdown">
        <li>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}

